@model OynaKazan.UIMvc.Models.UserPanelModels.PuanBakiyeJumbotronModel



<div class="jumbotron-fluid">
    <div class="col-sm-4" style="background-color:#343a40;display:inline-block;border:1px groove white;">
        <center><label style="color:#868e96;font-size:200%;">Bakiye</label></center>
        <center><label style="color:white;font-size:150%;">@Model.Bakiye TL</label></center>
    </div>
    <div class="col-sm-4" style="background-color:#343a40;display:inline-block;border:1px groove white;">
        <center><label style="color:#868e96;font-size:200%;">Puan</label></center>
        <center><label style="color:white;font-size:150%;">@Model.Puan</label></center>
    </div>
</div>

<br />
