
@{
    ViewBag.Title = "OynaKazan | Sözleşme Şartları";
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}

<div id="divSozlesme" class="container">

    <center><label>Sözleşme Şartları</label></center>
    <br>
    <ul>
        <li>Kullanıcının hesap güvenliği tamamen kendisine aittir.</li>
        <li>Proje sahibinin, proje zararına olacak bir durumda kullanıcının hesabını kapatma hakkı mevcuttur.</li>
        <li>Proje sahibinin, herhangi bir illegal şekilde kazanç elde edilmesi durumunda kullanıcının ödemesini yapmama hakkına sahiptir.</li>
        <li>Kullanıcıların ödeme talepleri 'Yönetici' tarafından her ay başı ve/veya ay sonu yapılacaktır.</li>
        <li>Kullanıcının ödemesi belirtmiş olduğu banka hesabına yatırılır, para aktarımından sonra hiç bir sorumluluk kabul etmez.</li>
        <li>Eğer bankanız para yatırmak için işlem ücreti alıyor ise bu işlem ücreti sizin kazandığınız tutar üzerinden ödenir.</li>
        <li>Minimum alt ödeme limiti 20 Türk Lirası'dır.</li>
        <li style="color:red;">Site üzerinde kayıtlı olan her kullanıcı bu sözleşme maddelerini kabul etmiş sayılır.</li>
    </ul>
    <br>
</div>
